h1 {
    color: olive;
    padding: 20px;
    margin: 20px;
    border: 10px solid grey
    background-color: grey
}

h3 {
    color: white;
    border: 10px solid grey;
    margin: 20px;
    padding: 20px;
    background-color: grey
}
